<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info</title>
    <link rel="stylesheet" href="{{ url_for('static',path='style.css')}}">
</head>

<body>

    <button>Get info</button>

    <div id="info">

    </div>

    <script>
        const box = document.querySelector('#info');

        const clientIP = "{{ client_ip }}";
        const clientURL = "{{ client_url }}";

        box.innerText = clientIP + " - " + clientURL;
    </script>

</body>

</html>